@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.login {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.tree {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right top,
    hsla(0, 5%, 5%, 0.5),
    hsla(0, 0%, 15%, 1)
  );
  background-image: -moz-linear-gradient(
    to right top,
    hsla(0, 5%, 5%, 0.5),
    hsla(0, 0%, 15%, 1)
  );
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.theme {
  transition: 0.5s all ease;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: white;
}

audio::-webkit-media-controls-panel {
  background-color: #f7c04a;
}

audio::-webkit-media-controls-play-button {
  background-color: #b1d4e0;
  border-radius: 50%;
}
